@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Good or bad Let Us Know!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Rate Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Story Time</h2>
        <p>
            Have a funny story? This is where you tell us.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Image Gallary</h2>
        <p>Show off your pictures.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health Inspector</h2>
        <p>Have some health violations? Let us know.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>